*{
  margin: 0;
  padding: 0;
}
body,html{
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  align-items: center;
}
.start{
  min-height: 100vh;
}

a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

main{
  color: hsl(0, 0%, 95%); 
  background-color: hsl(0, 0%, 95%);
  margin: 1.5rem;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  max-width: 910px;
  margin-inline: auto;
}

.card h2{
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
}

.card p{
  opacity: 0.6;
  line-height: 28px;
  margin-bottom: 2.5rem;
}

.card a{
  border: 2px solid white;
  padding: 1em 2em;
  border-radius: 2em;
  margin-top: auto;
  align-self: flex-start;
}
.card img{
  width: 64px;
  height: 40px;
}
.card{
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.orange-card{
  /* border-top-left-radius: 40px; */
  /* border-top-right-radius: 40px; */
  background-color: hsl(31, 77%, 52%);
}


.cyan-card{
  background-color: hsl(184, 100%, 22%);
}

.darkcyan-card{
  background-color: hsl(179, 100%, 13%);
  /* border-bottom-left-radius: 40px; */
  /* border-bottom-right-radius:40px; */
}